body {
    margin: 0;
    padding: 0;
    background-color: rgb(67, 110, 78);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(104, 125, 51);
    margin-bottom: 20px;
}

.add-button {
    width: 50px;
    height: 25px;
    padding: 5px;
    border: 1px solid green;
    color: green;
    background-color: lightgreen;
}

.body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    height: auto;

}

.book {
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

.modal {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    position: fixed;
    width: 380px;
    height: 460px;
    border: 1px solid black;
    border-radius: 5%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: white;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 15px;
}

.modal-close {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-label {
    font-size: 1.3rem;

}

.input {
    width: 200px;
    height: 30px;
    /* border: none; */
    border-radius: 5%;
}