body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 28, 56);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(57, 44, 87);
    margin-bottom: 50px;
}

.add-button {
    width: 50px;
    height: 25px;
    padding: 5px;
    border: 1px solid green;
    color: green;
    background-color: lightgreen;
    margin-bottom: 50px;
}

.body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100vw;
    height: auto;
    gap: 20px;
    padding: 20px;

}

.book {
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

.modal {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    position: fixed;
    width: 380px;
    height: 460px;
    border: 1px solid black;
    border-radius: 5%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: white;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 15px;
}

.modal-title {
    font-size: 1.4rem;
}

.modal-close {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
    margin-top: 10px;
    /* margin-right: none;
    margin-left: 35px; */
}

.modal-label {
    font-size: 1.3rem;
    display: flex;
    align-items: center;

}

.modal-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.input {
    width: 90%;
    height: 30px;
    /* border: none; */
    border-radius: 5%;
    /* margin-top: 15px; */
}

.checkbox {
    margin-left: 320px;
}

.add-book {
    width: 90%;
    height: 50px;
    /* padding: 15px; */
    font-size: 1.4rem;
    background-color: black;
    color: white;
    border: 2px solid black
}

.card {
    background-color: rgb(37, 227, 154);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* font-size: 1.6rem; */
    height: 350px;
    width: auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 1rem;
    

}

.card-item {
    font-size: 1.4rem;
}

.modal-button {
    width: 90%;
    height: 30px;
    background-color: rgb(37, 28, 56);
    color:rgb(37, 227, 154);
    border: 2px solid rgb(37, 28, 56);
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 25px;
}